<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719204243926-tg6582vl8ct9ebe6t0n6nqllob4526s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719204243926-tg6582vl8ct9ebe6t0n6nqllob4526s2</string>
	<key>API_KEY</key>
	<string>AIzaSyBuUMg9Zo_y_CcyM3RmTWBLKxK46Q0C24A</string>
	<key>GCM_SENDER_ID</key>
	<string>719204243926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.natzard</string>
	<key>PROJECT_ID</key>
	<string>natzard-99190</string>
	<key>STORAGE_BUCKET</key>
	<string>natzard-99190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719204243926:ios:e1ffdb15fdc9261acfec77</string>
</dict>
</plist>